<form [formGroup]="commentForm" (submit)="submit()">
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea class="form-control"
              [ngClass]="{'is-invalid': commentForm.controls['comment'].invalid}"
              formControlName="comment"
              id="comment"
              rows="3"></textarea>
    <div class="invalid-feedback">
      Required comment length is 10 to 100 characters
    </div>
  </div>
  <button class="btn btn-primary">Send comment
  </button>
</form>
