<nav aria-label="Page navigation" class="mt-2">
  <ul class="pagination d-flex justify-content-between">
    <li class="page-item">
      <a class="page-link" *ngIf="previous"
         [routerLink]="['/articles', category, 'page','before', previous]" aria-label="Previous">
        <span>Previous</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" [routerLink]="['/articles', category, 'page','after', next]" aria-label="Next">
        <span>Next</span>
      </a>
    </li>
  </ul>
</nav>
